<html>
    <head>
        <link rel="preload" href="https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/results.css" />
    </head>
    <title>Codimg</title>
    <h1>User Details</h1>
    <div class="user-details">
        <p><%- name %></p>
        <p><%- email %></p>
        <p><%- repoUrl %></p>
    </div><br>
    <h1>Files</h1>
    <div class="outer-div">
        <div id="org-parent" class="left-div">
          <% for (let i = 0; i < keys.length; i++) { %> 
            <div id="<%- keys[i] %>" class="left-card">
              <h2><%- keys[i] %></h2>
            </div>
          <% } %>
        </div>
        <div id="parent" style="overflow: hidden;">
          <% for (let [key, value] of Object.entries(results)) { %> 
            <div hidden id="<%- key %>Div" class="right-div" style="overflow: auto;height: 100%;width: 110%;">
              <h3 style="margin-left: 10px;">Repos with similar code</h3>
              <%- value[0][0] %><br>
              <%- value[1][0] %><br>
              <%- value[2][0] %><br>
              <%- value[3][0] %><br>
              <%- value[4][0] %><br>
            </div>
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script>
              $(document).ready(function(){
              $('#<%- key %>').click(function(){
                $('#parent').children().hide();
                $('#org-parent').children().css({
                                'background-color':'#ffffff',
                            });
                $('#<%- key %>Div').show();
                $(this).css({
                                'background-color':'#808080',
                            });
              });
              });
            </script>
          <% } %>
        </div>
    </div>
    <br><br>
</html>

<!-- 
  <div class="card">
  <div class="left-align">
    <p><i class="fa fa-user"></i>
      oorjitchowdhary<br/>
      cw-finals
    <br/>admin.js
    </p>
    <p><strong>
    <span class="tooltip">42%
      <span class="tooltiptext">42% of their code matches yours.</span>
    </span>/ 
    <span class="tooltip">30%
      <span class="tooltiptext">30% of your code matches theirs.</span>
    </span>  match</strong><br/>
      840/2000 common characters
    </p>
  </div>
  <div class="right-align">
    <p>
      <i class="fa fa-star" style="float: right"></i>
      42&nbsp;
    </p>
  </div>
</div>
<br> -->