<html>
    <head>
        <link rel="preload" href="https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/results.css" />
    </head>
    <title>Codimg</title>
    <div class="inline">
    <h1>User Details</h1>
      <div class="user-details">
          <b><p><%- name %></p></b>
          <p><%- email %></p>
          <a href="<%- repoUrl %>" target="blank" style="text-decoration: underline;color: black"><p><%- repoUrl %></p></a>
      </div><br>
      <% if(repoLicense !== 'nonexistant') { %> 
      <h1 style="margin-left: 200px;">License Details</h1>
      <div class="license-details">
          <b><p><%- repoLicense %></p></b>
          <a href="<%- licenseLink %>" target="blank" style="text-decoration: underline;color: black"><p><%- licenseLink %></p></a>
      </div><br>
      <% } %>
  </div>
  <br>
    <h1>Files</h1>
    <div class="outer-div">
        <div id="org-parent" class="left-div">
          <% for (let i = 0; i < keys.length; i++) { %> 
            <div id="<%- keys[i] %>" class="left-card">
              <h2><%- keys[i] %></h2>
            </div>
          <% } %>
        </div>
        <div id="parent" style="overflow: hidden;">
          <% for (let [key, value] of Object.entries(results)) { %> 
            <div hidden id="<%- key %>Div" class="right-div" style="overflow: auto;height: 100%;width: 110%;">
              <h3 style="margin-left: 10px;">Repos with similar code</h3>
              <% for (let j = 0; j < value.length; j++) { %>
                <div class="card">
                  <div class="left-align">
                    <p><img src="https://github.com/<%- value[j][0] %>.png" height="16" width="16" style="border-radius: 50%;border-style:solid;border-width: 0.5px;">
                      <%- value[j][0] %><br/>
                      <%- value[j][1] %>
                    <br/><b><a href="<%- value[j][7] %>" target="blank" style="text-decoration: none;color: black"><span style="width: 5%;"><%- value[j][2] %></span></a></b>
                    </p>
                    <p><strong>
                    <span class="tooltip"><%- value[j][3] %>% match
                      <span class="tooltiptext"><%- value[j][3] %>% of their code matches yours.</span>
                    </span></strong><br/>
                    <%- value[j][4] %>/<%- value[j][5] %> common characters
                    </p>
                  </div>
                  <div class="right-align">
                    <p><a target="blank" style="text-decoration: none;color: black;" href="<%- value[j][6] %>">
                      <i class="fa fa-link" style="float: right"></i>
                      </a>
                    </p>
                  </div>
                </div>
                <br>
              <% } %>
            </div>
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script>
              $(document).ready(function(){
              $('#<%- key %>').click(function(){
                $('#parent').children().hide();
                $('#org-parent').children().css({
                                'background-color':'#ffffff',
                            });
                $('#<%- key %>Div').show();
                $(this).css({
                                'background-color':'#808080',
                            });
              });
              });
            </script>
          <% } %>
        </div>
    </div>
    <br><br>
</html>


  